.header {
    width: 100%;
    height: 90px;
    background-color: #0F7A65;
    font-size: 18px;

    .navbar {
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;

            span {
                margin: 30px;
                cursor: pointer;
            }
    }
}


