.registration {

    .form {
        h1 {
            font-size: 36px;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        p {
            font-size: 24px;
        }
        a {
            text-decoration: none;
        }
        input {
            padding: 10px;
            width: 300px;
            height: 40px;           
            border: 1px solid #9B9B9B;
            border-radius: 5px;
            margin-top: 50px;
        }
        .continue {
            text-align: center;
            width: 300px;
            height: 40px;
            background: #25B887;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            color: white;
            font-size: 18px;
            margin-top: 20px;
            margin-left: 25px;
        }
        .gos {
            font-size: 18px;
            margin-top: 20px;
            cursor: pointer;
        }
    }
}